@media all {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        padding: 2em;
        font: 14px/1.5 Lato, sans-serif;
    }    
    
    p {
        padding-bottom: 1.5em;
    }

    a {
        display: block;
        padding-bottom: 1.5em;
        text-decoration: none;
        color: #000;
    }

    body::before {
        background-color: #326699;
        color: #fff;
        padding: 1.2em 0 1.2em 1.5em;
        border-radius: 0.3em;
        margin-bottom: 1.5em;
    }
}

@media (min-width: 30em) and (orientation: landscape) {
    body::before {
            display: block;
            content: 'The viewport width is larger than 30em and the orientation is landscape.';
        }
    }   

@media (min-height: 680px), screen and (orientation: portrait) {
    body::before {
        display: block;
        content: 'The viewport height is larger than 680px or the media type is screen and the orientation is portrait.';
    }
}

@media not (min-width: 600px) {
    body::before {
        display: block;
        content: 'The view port is NOT larger than 600px';
    }
}