html {
    font: Helvetica, sans-serif;
    margin: 25px;
    overflow: auto;
}

header {
    border-bottom: 5px solid grey;
}

h1 {
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;
}

nav {
    display: inline-block;
}

ul {
    list-style: none;
    display: inline-block;
}

li {
    display: inline-block;
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: rgb(17, 111, 17);
}