.flex-container {
    border: 2px solid blue;
    max-width: 400px;
    padding: 1em;
    display: flex;
    order: 0;
}

.flex-container.custom .item:nth-child(1) {
    order: 4;
}

.flex-container.custom .item:nth-child(2) {
    order: 2;
}

.flex-container.custom .item:nth-child(3) {
    order: 0;
}

.flex-container.custom .item:nth-child(4) {
    order: 5;
}

.flex-container.custom .item:nth-child(5) {
    order: 1;
}

.flex-container.custom .item:nth-child(6) {
    order: 3;
}

.item {
    border: 2px solid black;
    background-color: #eee;
    padding: 20px;
}