* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body, input, textarea, option, select, button {
    font: inherit;
}

body {
    padding: 2em;
}

h1 + p {
    padding-bottom: 1em;
}

select {
    background-color: #eee;
    padding: 0.5em;
    border: 2px solid #ccc;
    border-radius: 0.3em;
}

label {
    padding-right: 0.5em;
}