* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    border: 2px dotted black;
    padding: 0.5em 2em 2em 2em;
}

.box-model {
    max-width: 600px;
    margin: 4em auto;
    border: none;
}

.box-model div::before {
    display: block;
    padding-bottom: 0.5em;
    margin-left: -1em;
}

.margin {
    background: #f58e6e;
}

.margin::before {
    content: 'margin';
}

.border {
    background: #fae8c5;
}

.border::before {
    content: 'border';
}

.padding {
    background: #8efc88;
}

.padding::before {
    content: 'padding';
}

.content {
    background: #a6d6de;
    text-align: center;
    padding: 1em;
}
