body {
    background: lightblue;
    padding: 0 2em;
}

.site {
    background-color: white;
    max-width: 40em;
    margin: 0 auto;
}

.site-header, .site-content, .site-footer {
    padding: 2em;
}

.title {
    font-style: italic;
}

header + p {
    color: rgb(16, 197, 16);
}

header + p + p {
    font-style: italic;
    text-decoration: line-through;
    color: red;
    font-weight: 700;
    text-indent: 3%;
    letter-spacing: 0.3px;
}

main article > p + p ~ p {
    color: rgb(107, 107, 4);
    text-indent: 5%;
}

.buttons {
    margin: 0 auto;
}

.btn {
    width: 10em;
    border: 1px solid black;
    background-color: white;
    margin-right: 1em;
    border-radius: 30px;
    padding: 1em;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

.btn:hover {
    background-color: lightblue;
}
