* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
}

main {
    flex-grow: 1;
}

header, main, footer {
    border: 2px solid blue;
    padding: 2em;
    margin-bottom: 1em;
}

.container {
    border: 2px solid green;
    min-height: 100vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
