<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1 th:text="${nothing.username}"></h1>
<h2 th:text="${nothing.firstName}"></h2>
<h3 th:text="${nothing.address}"></h3>
<img th:src="${nothing.profilePictureUrl}" alt="profile-picture">

</body>
</html>