@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 18px/1.5 "Gochi Hand", sans-serif;
}

body {
    background-color: #E0E0E0;
}

.site {
    max-width: 1000px;
    margin: 2em auto;
    background-color: #fff;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    border-radius: 1em;
}

.content {
    background-image: url("images/nature.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0.6em;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 1em 1em 0 0;
}

.text {
    background-color: #fff;
    border-radius: 1em;
    padding: 0.3em; 
    text-align: center;
}

.main {
    padding: 1.5em;
}

.text p {
    max-width: 900px;
    margin: 0 auto;
    opacity: 0.7;
    padding: 0 1em;
    line-height: 1.2;
}

.information {
    border-top: 1px solid #ccc;
    padding: 2.2em;
}

.information h2 { 
    padding-bottom: 0.8em;
}

.information p {
    opacity: 0.7;
    padding-bottom: 0.5em;
}