* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    padding: 2em;
    background-color: #eee;
    font: 14px/1.5 Lato, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

article {
    margin: 1em;
    padding: 2em;
    background-color: #fff;
}

p {
    padding: 1em 1em 1em 0;
}

main article {
    min-width: 580px;
}

.site {
    max-width: 900px;
    display: flex;
    gap: 1em;
}