@media (max-width: 750px) {
    
    header {
        padding: 4rem 0;
    }

    header nav {
        margin-left: 0%;
        justify-content: center;
    }

    header nav ul li {
        display: flex;
        padding-bottom: 1em;
        justify-content: center;
        font-weight: bold;
        font-size: 1.2em;
    }

    .header-title {
        padding: 0;
    }

    .header-title h1 {
        padding: 0 0.5 1em 0.5em;
        font-size: 2.8em;
    }

    .header-title p {
        padding: 0 2em;
    }

    .choose-us ul {
        flex-direction: column;
        gap: 1em 0;
    }

    .choose-us p {
        max-width: 380px;
        margin: 0 auto;
    }

    .team-description ul {
        gap: 2em;
        justify-content: center;
    }

    .team-description ul li img {
        width: 140px;
        height: 180px;
    }

    .blog-section p:nth-child(2), .team-description p:nth-child(2), .about-us p:nth-child(2) {
        max-width: 300px;
        margin: 0 auto;
    }

}