* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif; 
}

body, input, textarea, option, select {
    font: inherit;
}

body {
    padding: 2em;
}

header {
    margin-bottom: 2em;
}

section {
    margin-top: 1em;
}

input {
    border: 2px solid #ccc;
    border-radius: 0.3em;
    text-indent: 0.3em;
    padding: 0.5em;
    margin-top: 0.7em;
}

.site {
    max-width: 1200px;
}