* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body, input, select, option, button, textarea {
    font: inherit;
}

body {
    padding: 2em;
    background-color: #eee;
}

form {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2em;
    background-color: #fff;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
}

form h2 {
    margin-bottom: 1rem;
}

form ul li {
    list-style: none outside;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 0.3em;
    padding: 2em;
    margin-bottom: 1em;
}

fieldset legend {
    padding: 0 1em;
    margin-left: -1em;
    font-weight: bold;
}

input[type="text"],
.field label {
    display: block;
    width: 100%;
}

label {
    font-weight: bold;
}

input[required] ~ label::after {
    display: inline-block;
    content: '*';
    padding-left: 0.3em;
    color: #C00;
}

select,
textarea,
input {
    padding: 0.5em 0.8em;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 0.3em;
    outline: none;
}

input[type="text"]:user-invalid,
input[type="email"]:user-invalid {
    border-color: red;
}

input[type="email"]:user-invalid ~ label,
input[type="email"]:user-invalid ~ .helper, 
input[type="text"]:user-invalid ~ label, 
input[type="text"]:user-invalid ~ .helper {
    color: red;
}

input[type="text"]:user-invalid ~ .helper.error  {
    display: block;
}

input[type="text"]:user-valid,
input[type="email"]:user-valid {
    border-color: #090;
}

input[type="text"]:user-valid ~ label,
input[type="email"]:user-valid ~ label {
    color: #090;
}

input[type="text"]:user-valid ~ label::before,
input[type="email"]:user-valid ~ label::before {
    display: block;
    content: '\f00c';
    font-family: "Font Awesome 6 Free";
    position: absolute;
    top: 0;
    right: 0;
}

input[type="text"]:focus {
    border-color: orange;
}

input[type="text"]:focus ~ label,
input[type="email"]:focus ~ label {
    color: darkorange;
}

input[type="submit"] {
    border-color: #ccc;
}

.field {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    position: relative;
}

.field label {
    order: -1;
}

.field .helper {
    font-size: 0.9;
    font-style: italic;
    opacity: 0.6;
}

.field .helper.error {
    display: none;
}

.field-radio,
.field-checkbox {
    padding-bottom: 1.5em;
}

.field-radio ul,
.field-checkbox ul {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    padding: 0.5em;
}

.field-radio ul li, 
.field-checkbox ul {
    flex: 1 1 120px;
    display: flex;
    align-items: center;
}

.field-radio ul li label {
    padding-left: 0.2em;
}