@import url("https://fonts.googleapis.com/css?family=PT+Serif");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 20px/1.5 "PT Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif";
}

.site-section.banner{
    background-color: #060142;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.site-section.banner .container {
    color: #fff;
}

.site-section.banner h2 {
    font-size: 3.25em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.site-section.banner p {
    font-size: 1.1em;
    max-width: 35.5rem;
}

.site-section {
    padding: 2em;
}

.site-header {
    display: flex;
    justify-content: space-between;
}

.site-header nav ul {
    display: flex;
}

.site-header nav li {
    list-style: none outside;
    padding-right: 1em;
}

.site-header nav a {
    text-decoration: none;
    color: #000;
}

.site-title a {
    display: block;
    width: 130px;
    height: 110px;
    overflow: hidden;
    text-indent: -200vw;
    background-image: url("images/logo.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.site-footer {
    background-color: #171720;
}