* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
}

.container {
    background-color: #eee;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
}

.container ul {
    padding: 1em;
    display: flex;
}

.container li {
    border: 1px solid #ccc;
    list-style: none;
    background-color: #fff;
    padding: 0.5em 1em;
    margin-right: 0.5rem;
    border-radius: 0.3em;
}

.container a {
    text-decoration: none;
    color: #fc900c;
}

.container li:hover {
    background-color: #5f411d;
}

