@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font: 400 16px 'Raleway', sans-serif;
    line-height: 1.5;
}

h1, h2 {
    font-family: 'Great Vibes', cursive;
    line-height: 1.2;
    font-weight: bold;
}