@media all {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        padding: 2em;
        font: 14px/1.5 Lato, sans-serif;
    }

    body::before {
        background-color: #326699;
        color: #fff;
        padding: 1.2em 0 1.2em 1.5em;
        border-radius: 0.3em;
        margin-bottom: 1.5em;
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    body::before {
        display: block;
        content: 'The viewport width is larger than 800px and smaller than 1200px';
    }
}

@media not (max-width: 1200px) {
    body::before {
        display: block;
        content: 'The viewport is larger than 1200px';
    }
}

@media only screen and (min-width: 800px) {
    body::before {
        display: block;
        content: 'The device is using a screen and the viewport width is larger than 800px';
    }
} 