@media (max-width: 500px) {
    .navigation-header {
        position: absolute;
    }

    .navigation-nav {
        display: none;
    }

    .navigation-max-width {
        padding-top: 12px;
        padding-left: 12px;
        padding-bottom: 20px;
    }

    .home-text {
        display: none;
    }

    .home-text01 {
        margin-top: 0;
    }

    .Heading2 {
        font-size: 40px;
    }

    .home-text-container {
        margin-bottom: 20px;
    }

    .home-portofolio {
        padding-top: 80px;
    }

    .home-tab-selector-cards-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .home-max-width1 {
        flex-direction: column;
    }

    .section-container {
        padding-top: 40px;
        padding-bottom: 0;
    }

    .home-image {
        display: none;
    }

    .home-top-part {
        flex-direction: column;
    }

    .home-links-container {
        width: auto;
        flex-direction: column;
        gap: 2em;
    }

    .home-text13 {
        margin-top: 20px;
    }

    .home-subscribe-container {
        width: auto;
    }

    .button-primary {
        padding: 1.5em 1.8em;        
    }

    .home-max-width {
        padding-top: 40px;
    }
}