* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    padding: 2em;
    background-color: #eee;
    font: 14px/1.5 Lato, sans-serif;
}

.container {
    max-width: 900px;
    background-color: #fff;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 2em auto;
}

.container > * {
    border: 2px solid #ccc;
    padding: 2em;
}

.container header,
.container footer {
    flex: 1 0 100%;
}

.container main {
    flex: 0 1 70%;
}

.container aside {
    flex: 1 0 auto;
}
