* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
    background-color: #eee;
    font: 14px/1.5 Lato, sans-serif;
}

.site {
    max-width: 1100px;
    background-color: #fff;
    padding: 2em;
    margin: 2em auto;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.site > * {
    border: 2px solid #ccc;
    border-radius: 0.3em;
    padding: 2em;
}

@media (800px < width < 1200px) {
    .site {
        flex-direction: column;
    }
}

@media (min-width: 1200px) {    
    .site header,
    .site footer {
        flex: 1 0 100%;
    }

    .site main {
        flex: 0 1 70%;
    }

    .site aside {
        flex: 1 0 auto;
    }
}