.orange {
    background-color: orange;
    padding: 80px;
    margin: 100px;
}

.green {
    background-color: green;
    padding: 40px;
}

.yellow {
    background-color: yellow;
    padding: 30px;
}

