header, footer, section {
    margin-top: 5px;
    border: 1px solid rgb(199, 197, 197);
}
nav > ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    padding: 10px;
}

li > a {
    text-decoration: none;
    color: black;    
}

.first-section, .second-section {
    padding: 10px;
}

.first-section h1 {
    font-size: 24px;
}

section > p {
    font-family: Arial, Helvetica, sans-serif
}

footer {
    padding: 10px;
}