@import url("reset.css");


html {
    font: 16px/1.5 Helvetica, sans-serif;
    margin-left: 0.5em;
}

p, ul, ol {
    padding-bottom: 1.5rem;
}

ul, ol {
    padding-left: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: Georgia, serif;
}

h1 {font-size: 2.4em;}
h2 {font-size: 2em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}

hr {
    margin-bottom: 1em;
}

table {
    width: 100%;
    border: 2px solid rgb(239, 238, 238);
    margin-bottom: 1em;
}

thead {
    width: 500px;
    background: rgb(186, 186, 186);
    color: black;
    text-align: left;
}

th {
    padding: 0.2em;
}

td {
    padding: 0.2em;
}

tbody tr:nth-child(odd) {
    background: rgb(226, 226, 226);
}

blockquote {
    display: block;
    border-left: 4px solid rgb(210, 210, 210);
    padding-left: 2em;
    margin: 1.2em 0 1.2em 1em;
}

span {
    display: block;
    text-align: right;
    font-style: italic;
}