* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.details {
    border: 2px solid red;
    max-width: 500px;
    padding: 2em;
    margin: 3em auto;
}

p {
    max-width: 500px;
    padding: 0.5em;
}

.box {
    border: 3px solid black;
    max-width: 200px;
    padding: 4em;
    margin: 10em auto;
    font-size: 18px;
    text-align: center;
}