body {
    background: rgb(238, 238, 238);

}

div {
    margin: 0 auto;
    max-width: 1100px;
}

main, aside {
    max-width: 800px;
    display: inline-block;
    vertical-align: top;
}

aside {
    padding-left: 5em;
}

a {
    color: #090;
}


img {
    padding: 0.4em 0.4em;
    margin: 0em 1em;
    border: 3px solid black;
    background: rgb(255, 255, 255);
    box-shadow: 0 0.1em 0.2em 0.2em rgba(0, 0, 0, 0.25);
}

.site-header {
    border-bottom: 2px solid black;
}

header .site-title, header nav {
    display: inline-block;
}

header nav ul li {
    display: inline-block;

}

header nav ul li a {
    text-decoration: none;
    font-size: 18px;
    padding-left: 2em;
    margin-right: 1em;
}

header .site-title {
    font-size: 2.5em;
    font-weight: 700;
}

header .site-title a {
    text-decoration: none;
    color: black;
}

img[alt~="pic2"] {
    float: right;
}

img[alt~="pic1"] {
    float: left;
}
